<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
        <title>Shopping Tracker</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <h1>Shopping Tracker</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/receipts">Receipts</a></li>
            </ul>
        </nav>
        <br>
        {% block content %}
        {% endblock content %}
    </body>
</html>