{% extends "base.html" %}

{% block content %}
<h2>Receipt Details</h2>
<p><strong>Store Name:</strong> {{ receipt.store_name }}</p>
<p><strong>Date:</strong> {{ receipt.date }}</p>

<h3>Items Purchased:</h3>
<!-- Based on https://htmx.org/examples/edit-row/ -->
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Price per unit</th>
        <th>Quantity</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody hx-target="closest tr" hx-swap="outerHTML">
        {% for item in receipt.items %}
        {% include 'item.html' %}
        {% endfor %}
    </tbody>
</table>
<button name="new" hx-get="/receipts-item/{{ receipt.id }}/new" hx-target="tbody" hx-swap="beforeend">Add New Item</button>
{% endblock content %}