<tr>
            <td>{{ receipt.store_name }}</td>
            <td>{{ receipt.date }}</td>
            <td>{{ receipt.purchaser }}</td>
            <td>{{ receipt.uploaded_at }}</td>
            <td>
            <form action="/receipts/{{ receipt.id }}" method="GET">
                <button class="btn danger" type="submit">Edit/View</button>
            </form>
            </td>
            <td>
            <button class="btn danger"
                    hx-delete="/receipt-data/{{ receipt.id }}"
                    hx-confirm="Are you sure you want to delete this item?"
                    hx-target="closest tr"
                    hx-swap="outerHTML">
                Delete
            </button>
            </td>
        </tr>