<!-- Based on https://htmx.org/examples/edit-row/ -->
<tr>
        <td>{{ receipt.store_name }}</td>
        <td>{{ receipt.date }}</td>
        <td>{{ receipt.purchaser }}</td>
        <td>{{ receipt.uploaded_at }}</td>
        <td>
        <button class="btn danger"
                hx-get="/receipt-data/{{ receipt.id }}/edit"
                hx-trigger="edit"
                onClick="let editing = document.querySelector('.editing')
                         if(editing) {
                           Swal.fire({title: 'Already Editing',
                                      showCancelButton: true,
                                      confirmButtonText: 'Yep, Edit This Row!',
                                      text:'Hey!  You are already editing a row!  Do you want to cancel that edit and continue?'})
                           .then((result) => {
                                if(result.isConfirmed) {
                                   htmx.trigger(editing, 'cancel')
                                   htmx.trigger(this, 'edit')
                                }
                            })
                         } else {
                            htmx.trigger(this, 'edit')
                         }">
          Edit
        </button>
      </td>
      <td>
        <button class="btn danger"
                hx-delete="/receipt-data/{{ receipt.id }}"
                hx-confirm="Are you sure you want to delete this item?"
                hx-target="closest tr"
                hx-swap="outerHTML">
          Delete
        </button>
      </td>
    </tr>